#body
{
    margin: 0;
	background-color:  #F0F0F0;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
}

#header
{
	margin: 0;
	padding:  0 0 20px 0;
}

#site-description
{
    padding: 10px 20px;
    margin-top: 10px;
}

#site-description h2
{
    font-size: 16px;
    font-weight: normal;
    color: #666666;
}

#content
{
    padding: 10px 20px;
}

#sidebar
{
	padding: 10px 0;
}

#left-sidebar
{
    width: 210px;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
    border-top: 4px solid #1C86D1;
    overflow: hidden;

}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
	background:#1C86D1;
}

#mainmenu ul
{
	padding:10px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
    line-height: 100%;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	padding:10px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.post
{
	margin: 0 0 20px;
}

div.post .title
{
	border-bottom: 3px solid #8DB449;
}

div.post .title a
{
	text-decoration: none;
}

div.post .title a:hover
{
	color: #777;
	text-decoration: underline;
}

div.post .title h2 span
{
	padding-left: 10px;
}

div.post .author
{
	color: #888;
	padding-top: 5px;
	margin: 0 0 5px;
}

div .tags
{
	padding: 5px;
	background: #EFF5FB;
}


div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 1.2em;
	padding: 10px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 0;
	background: #EFF4FA;
	border-top: 3px solid #1C86D1;
}

.portlet-title
{
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	margin: 0;
	color: #333;
    margin-bottom: 5px;
   
}

.portlet-content
{
	font-size: 14px;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background: white;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}